@model QuanLyKhachSan_MVC.NET.Models.Modeldata
<link rel="stylesheet" href="/static/login/css/style.css">
<link href="/static/login/css/font-awesome.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div class="login-form w3_form">
    <div class="login-title w3_title">
    </div>
    <div class="login w3_login">
        <h2 class="login-header w3_header">Đăng nhập</h2>
        <div class="w3l_grid">
            <form class="login-container" action="/DangNhap/DangNhapVaoHeThong" method="post">
                <select id="idkhachsan" name="idkhachsan" class="form-control">
                    @if (Model.listKhachSan != null && Model.listKhachSan.Count > 0)
                    {
                        foreach (var khachsan in Model.listKhachSan)
                        {
                            <option value="@khachsan.id">@khachsan.tenkhachsan</option>
                        }
                    }
                    else
                    {
                        <option value="" selected>Không có dữ liệu</option>
                    }
                </select>
                <input type="text" placeholder="Tên đăng nhập" name="taikhoan" required="">
                <input type="password" placeholder="Mật kẩu" name="matkhau" required="">
                <input type="submit" value="Đăng nhập">
            </form>
            <div class="second-section w3_section">
                <div class="bottom-header w3_bottom">
                    <h3>Hoặc</h3>
                </div>
                <div class="social-links w3_social">
                    <ul>
                        <li>
                            <a class="facebook" href="#" target="blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#" target="blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="googleplus" href="#" target="blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-text w3_bottom_text">
                <p>Chưa có tài khoản?<a href="#">Đăng ký</a></p>
                <h4> <a href="#">Quên mật khẩu?</a></h4>
            </div>
        </div>
    </div>
</div>