<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
</head>
<body>
    <h1>Face Detection</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="imageFile" id="imageFile" accept="image/*" required>
        <input type="submit" value="Upload">
    </form>
    <div id="result">
        <!-- Kết quả nhận diện khuôn mặt sẽ được hiển thị ở đây -->
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData();
            var fileInput = document.getElementById('imageFile');
            formData.append('imagePath', fileInput.files[0]);

            fetch('/NhanVien/Upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(imagePath => {
                    var resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = `<img src="${imagePath}" alt="Detected Faces">`;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
