@model List<Model.Models.Modeldata>
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .messenger-container {
        display: flex;
        width: 1200px;
        height: 600px;
        position: fixed;
        right: 160px;
        bottom: 40px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .messenger-container #closeButton {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .messenger-container #toggleButton {
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 1;
        }

        .messenger-container .sidebars {
            width: 30%;
            padding: 20px;
            border-right: 1px solid #ccc;
        }

        .messenger-container .search-bar input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .messenger-container .conversation-lists {
            overflow-y: auto;
            max-height: 530px;
        }

            .messenger-container .conversation-lists::-webkit-scrollbar {
                width: 0px;
            }

            .messenger-container .conversation-lists::-webkit-scrollbar-track {
                background: transparent;
            }

            .messenger-container .conversation-lists::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }

        .messenger-container .conversation {
            display: flex;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            font-size: 8px;
        }

            .messenger-container .conversation.active {
                background-color: #f1f1f1;
            }

            .messenger-container .conversation img {
                width: 40px;
                height: 40px;
                background-color: #ccc;
                border-radius: 50%;
                margin-right: 15px;
            }

        .messenger-container .details {
            flex: 1;
        }

            .messenger-container .details h3 {
                margin-bottom: 5px;
            }

        .messenger-container .chat {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 20px;
            justify-content: space-between;
            height: 100%;
        }

        .messenger-container .message-input {
            display: flex;
            align-items: center;
            margin-bottom: -10px;
            margin-top: 10px;
        }

    #sendButton {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 25px;
        cursor: pointer;
    }

        #sendButton:hover {
            background-color: #45a049;
        }

    #likeButton {
        background-color: #0084ff;
        color: #fff;
        border: none;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 25px;
        cursor: pointer;
    }

        #likeButton:hover {
            background-color: #0084ff;
        }

    .messenger-container .message-input input[type="text"] {
        position: relative;
        flex: 1;
        padding: 15px 30px 15px 15px;
        border: 2px solid #ccc;
        border-radius: 8px;
        margin-right: 10px;
        font-size: 14px;
    }

    .messenger-container .message-input .icon-inside-input {
        position: absolute;
        right: 110px;
        top: 94%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 25px;
        color: #0084ff;
    }

    .hover-content {
        display: none;
        position: absolute;
        top: 70%;
        left: 930px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1;
        border-radius: 5px;
        width: 150px;
    }

        .hover-content i {
            margin: 5px;
            font-size: 20px;
            cursor: pointer;
            transition: color 0.3s;
        }

    .messenger-container .message-input button {
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
        background-color: #0084ff;
        color: #fff;
        cursor: pointer;
    }

    .messenger-container .message-chat {
        overflow-y: auto;
        max-height: 500px;
    }

    .message-chat::-webkit-scrollbar {
        width: 0px;
    }

    .message-chat::-webkit-scrollbar-track {
        background: transparent;
    }

    .message-chat::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .messenger-container .user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .messenger-container .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .messenger-container .user-profile h3 {
        font-size: 20px;
        margin: 0;
    }

    .messenger-container .message {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        clear: both;
        max-width: 60%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        max-height: 67%;
    }

    .messenger-container .received,
    .messenger-container .sent {
        padding: 10px 15px;
        border-radius: 15px;
        min-height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        /* Add some margin between messages */
        word-wrap: break-word;
    }

    .messenger-container .received {
        background-color: #d3d3d3;
        float: left;
        clear: both;
    }

    .messenger-container .sent {
        background-color: #0084ff;
        color: #fff;
        float: right;
        clear: both;
    }

    .time {
        font-size: 1px;
        color: #888;
        margin-left: auto;
    }

    .messenger-container p {
        font-size: 10px;
    }

    .messenger-container h3 {
        font-size: 20px;
    }
</style>
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="messenger-container" id="messengerContainer">
                    <a id="closeButton">X</a>
                    <div class="sidebars">
                        <div class="search-bar">
                            <input type="text" placeholder="Tìm kiếm...">
                        </div>
                        <div class="conversation-lists">
                            <div class="conversation">
                                <img src="https://images.fpt.shop/unsafe/filters:quality(90)/fptshop.com.vn/uploads/images/tin-tuc/157765/Originals/15(1).jpg"
                                     alt="">
                                <div class="details">
                                    <h3>Người dùng 1</h3>
                                    <p>Đây là tin nhắn cuối cùng</p>
                                </div>
                                <span class="time">09:30</span>
                            </div>
                        </div>
                    </div>
                    <div class="chat">
                        <div class="user-profile">
                            <img src="user-profile-image.jpg" alt="User Profile Image" class="profile-image">
                            <h3>User's Name</h3>
                        </div>
                        <div class="message-chat">
                            <div class="message received">
                                <p>Chào! Bạn đang làm gì?</p>
                                <span class="time">09:30</span>
                            </div>
                            <div class="message sent">
                                <p>Xin chào! Tôi đang làm việc.</p>
                                <span class="time">09:32</span>
                            </div>
                            <div class="message received">
                                <p>Chào! Bạn đang làm gì?</p>
                                <span class="time">09:30</span>
                            </div>
                            <div class="message sent">
                                <p>Xin chào! Tôi đang làm việc.</p>
                                <span class="time">09:32</span>
                            </div>
                            <div class="message received">
                                <p>
                                    Chào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm
                                    gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm
                                    gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gìChào! Bạn đang làm gì?
                                </p>
                                <span class="time">09:30</span>
                            </div>
                            <div class="message received">
                                <p>Chào! Bạn đang làm gì?</p>
                                <span class="time">09:30</span>
                            </div>
                        </div>
                        <div class="message-input">
                            <input type="text" id="messageInput" placeholder="Type your message...">
                            <i class="fa fa-smile-o icon-inside-input" aria-hidden="true"></i>
                            <button id="sendButton" style="display: none;">
                                <i class="fa fa-paper-plane"
                                   aria-hidden="true"></i>
                            </button>
                            <button id="likeButton">
                                <i class="fa fa-thumbs-up like-icon"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                        <div id="haha" class="hover-content" style="display: none;">
                            <i onclick="insertIcon('❤️')" class="fa fa-heart" aria-hidden="true"></i>
                            <i onclick="insertIcon('⭐')" class="fa fa-star" aria-hidden="true"></i>
                            <i onclick="insertIcon('😊')" class="fa fa-smile-o" aria-hidden="true"></i>
                            <i onclick="insertIcon('❤️')" class="fa fa-heart" aria-hidden="true"></i>
                            <i onclick="insertIcon('⭐')" class="fa fa-star" aria-hidden="true"></i>
                            <i onclick="insertIcon('😊')" class="fa fa-smile-o" aria-hidden="true"></i> <i onclick="insertIcon('❤️')" class="fa fa-heart" aria-hidden="true"></i>
                            <i onclick="insertIcon('⭐')" class="fa fa-star" aria-hidden="true"></i>
                            <i onclick="insertIcon('😊')" class="fa fa-smile-o" aria-hidden="true"></i> <i onclick="insertIcon('❤️')" class="fa fa-heart" aria-hidden="true"></i>
                            <i onclick="insertIcon('⭐')" class="fa fa-star" aria-hidden="true"></i>
                            <i onclick="insertIcon('😊')" class="fa fa-smile-o" aria-hidden="true"></i> <i onclick="insertIcon('❤️')" class="fa fa-heart" aria-hidden="true"></i>
                            <i onclick="insertIcon('⭐')" class="fa fa-star" aria-hidden="true"></i>
                            <i onclick="insertIcon('😊')" class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messageInput = document.getElementById('messageInput');
        const likeButton = document.getElementById('likeButton');
        const sendButton = document.getElementById('sendButton');

        messageInput.addEventListener('input', function () {
            if (messageInput.value.trim() !== '') {
                likeButton.style.display = 'none';
                sendButton.style.display = 'inline-block';
            } else {
                likeButton.style.display = 'inline-block';
                sendButton.style.display = 'none';
            }
        });
    });
    const iconInsideInput = document.querySelector('.icon-inside-input');
    const haha = document.getElementById('haha');

    iconInsideInput.addEventListener('click', function () {
        haha.style.display = haha.style.display === 'none' ? 'block' : 'none';
    });
    function insertIcon(icon) {
        var inputField = document.getElementById('messageInput');
        inputField.value += icon;
    }
</script>